{% extends "base.html" %}
{% load static %}
{% block title %}<title>Home</title>{% endblock %}
{% block content %}
<section class="pb-11 pt-13 pt-xl-14 mt-n12 position-relative">
    <div class="position-absolute top-0 right-0">
        <img src="{% static 'assets/img/illustrations/illustration-7.svg' %}" class="img-fluid" alt="...">
    </div>

</section>

    <!-- BLOG LIST V1
    ================================================== -->
    <div class="container mb-11 mt-5">
        <div class="row">
            <div class="col-md-7 col-lg-8 col-xl-9 mb-5 mb-md-0">
                {% include "includes/list.html" %}
               
              
            </div>
            <div class="col-md-5 col-lg-4 col-xl-3">
               <!-- BLOG SIDEBAR
                ================================================== -->
                
               {% include "includes/sidebar.html" %}
            </div>
        </div>
    </div>
{% endblock content %}